<mat-expansion-panel expanded={{bookmarkGroup.expanded}} class="bookmark-expansion-panel">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <h3>
        <span>{{bookmarkGroup.group}}</span>
        <span matBadge="{{bookmarkGroup.bookmarks.length}}" matBadgeSize="small" matBadgePosition="after"
          style="top: 8px; right: -20px;" *ngIf="bookmarkGroup.bookmarks.length > 1"></span>
      </h3>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <mat-list class="bookmark-list-items">
    <mat-list-item *ngFor="let bookmark of bookmarkGroup.bookmarks" matTooltip="{{bookmark.url}}"
      class="bookmark-list-item">
      <div style="display: flex; align-items: center;">{{bookmark.name}}</div>
      <div style="flex-grow: 1"></div>
      <div>
        <button mat-icon-button class="bookmark-item-delete" (click)="onRemovedClicked(bookmark)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-list-item>
  </mat-list>

</mat-expansion-panel>